<body style="background-color: black;">
    <mat-toolbar color="primary">
        <h1 style="color:black;margin-left: 45%;">Update Existing Vehicle Details</h1>
    </mat-toolbar>
    <form [formGroup]="updateVehicle" style="margin-left: 10%;margin-top:5%">
        <mat-form-field appearance="outline" style="width: 5%;">
            <mat-label>ID</mat-label>
            <input matInput placeholder="Id" style="color: white;" formControlName="id">
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter Title" style="color: white;" formControlName="title">
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="outline" style="width: 10%;">
            <mat-label>₹</mat-label>
            <input matInput placeholder="Enter Price" style="color: white;" formControlName="price">
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Enter Description" style="color: white;" formControlName="description">
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>Category</mat-label>
            <input matInput placeholder="Enter Category" style="color: white;" formControlName="category">
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>Image Link</mat-label>
            <input matInput placeholder="Enter Image Link" style="color: white;" formControlName="image">
        </mat-form-field>
        <br><br>
    </form>
    <button mat-raised-button (click)="updateData()" color="warn" style="margin-left: 20%;">Update</button>
</body>