<!-- <router-outlet></router-outlet> -->
<body style="background-color: black;">
<button mat-raised-button routerLink="add" style="height:20% ;width: 20%; margin-left: 10%;margin-top: 20%;border-radius:25px ;" color="primary"><h1 style="color: black;">Add Vehicles</h1></button>
<button mat-raised-button routerLink="update" style="height:20% ;width: 20%; margin-left: 10%;border-radius:25px ;" color="primary"><h1 style="color:black">Update Vehicles</h1></button>
<button mat-raised-button routerLink="" style="height:20% ;width: 20%; margin-left: 10%;border-radius:25px ;" color="primary"><h1 style="color:black">Logout</h1></button>

</body>